GEMINI_API_KEY=AQ.Ab8RN6LPCcvXxP2iifNueodOqJwsxTJPpfLSqZyK0rnwS3tLBw
PORT=3000
# Comma-separated list of origins allowed to call this API (your Angular dev/prod URLs)
ALLOWED_ORIGIN=http://localhost:4200
